<body>
<div class="login-form">
    <form action="/examples/actions/confirmation.php" method="post" #loginForm="ngForm" (ngSubmit)="onFormSubmit()">
		<h2 class="text-center">Login</h2>	
        <div class="form-group">
            <div class="row">
            <input type="email" class="form-control" name="email" required  [(ngModel)]="email" #emailid="ngModel" [pattern]="emailPattern"  placeholder="Enter email">
            <div [hidden]="emailid.valid || emailid.pristine" class="alert alert-danger"> Email id: admin@admin.com</div>
        </div>
        <div class="row">
        <input type="password" class="form-control" [pattern]="passwordPattern" #pwd="ngModel" name="password" placeholder="Password" [(ngModel)]="password" required>
            <div [hidden]="pwd.valid || pwd.pristine" class="alert alert-danger"> password: admin</div>
        </div>
    </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default btn-block" [disabled]="!loginForm.form.valid" routerLink="/profile">Login</button>
        </div>
        <p class="text-center"><a href="#">Forgot Password?</a></p>     
    </form>
    <p class="text-center small" style="color: black;">Not Registered? <a [routerLink]="['/signup']" routerLinkActive="router-link-active">Create an Account</a></p>
</div>
</body>