
.card {
  margin-top: 5em;
}
.panel-shadow {
    box-shadow: rgba(4, 74, 226, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
  margin: 5em;

}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 3.75em;
  height: 3.75em;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  padding: 1em;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 3em;
}
.post .post-description p {
  font-size: 0.8em;
}
.post .post-description .stats {
  margin-top: 1.25em;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 0.93em;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 0.5em;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 0.93em;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 1.25em;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 1.25em 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 2.1em;
  height: 2.1em;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 0.8em;
  font-weight: bold;
  display: inline;
  margin-right: 0.6em;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 0.7em;
  color: #aaa;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 3.1em;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 3.1em;
}