<div *ngFor="let user of userDetails">
  <div class="container">
    <div class="card-deck">
    <div class="card text-center border-dark mb-3" style="max-width: 540px;" style="margin-top: 10px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://dummyimage.com/259x200/000/fff&text=Image" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{user.title  | uppercase}}</h5>
              <p class="card-text">{{user.body}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()">
</div>


</div>